# Chave Salt secreta interna para geração de login_hash anonimizada em conformidade com a LGPD
LGPD_HASH_SALT=

# Ativa ou desativa a autenticação obrigatória via Bearer Token nas APIs do backend (true/false)
ENABLE_AUTH=
